host: http://0.0.0.0:8081
check-host: true

output-dir: ./images
freshness: 3600 # Freshness of 1 hour: will only try once per hour

payloads:
  single:
    time: 24418
    grid-size: 10
    model-view-positions64:
      - x: 12918
        y: 2059
    model-view-zooms64:
      - 3.79749833583243
    autoload: eyJhcGlWZXJzaW9uIjo2LCJtb2RlbCI6eyJzdGFydFllYXIiOjIwMTksImVuZFllYXIiOjIwNDAsInJvb3RCbG9ja3MiOlt7ImlkIjoiMiIsInR5cGUiOiJjb21wb25lbnQiLCJuYW1lIjoiRm9yZXZlclNpbmdsZSIsInBvc2l0aW9uIjp7IngiOi0zMzkwLCJ5IjotNTMwfSwid2lkdGgiOjQyMCwiZW50cmllcyI6W3siaWQiOiI4IiwidGFnIjoicHJvcGVydHkiLCJuYW1lIjoiR2V3aWNodCIsImZvcm11bGEiOiIifSx7ImlkIjoiNjdGNkRDNThDRDAwNEFBMDg3OTVDQ0E4MjEyRUFGN0UiLCJ0YWciOiJwcm9wZXJ0eSIsIm5hbWUiOiJOYW1lIiwiZm9ybXVsYSI6IlwiTWVcIiJ9XX1dLCJjb25uZWN0b3JzIjpbXX0sInNuYXBzaG90cyI6W119